.vscode/
.idea/
node_modules/
typings/
localization/
npm-debug.log
lerna-debug.log
build/stats-dev.json*
tmp/
dist/
.sw[a-z]
build/
.awcache
*.iml
.DS_Store
coverage/
.stylelintcache
*.scss.d.ts
.storybook/build
package-lock.json
.sts
.sts-tmp
*.tsbuildinfo
